.App {
  padding: 0 2rem;
}
.contactus {
  display: flex;
  flex-direction: row;
  padding-left: 181px;
    align-items: center;
}
.containercontact {
  font-size: 110%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  border-radius: 14px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-color: #81909c;
  background-size: auto;
}
.containercontact h3 {
  font-size: 20px;
 
}
.contact {
  padding: 4em;
  color:aliceblue;
  font-weight: 500px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-image: url("https://media.istockphoto.com/id/1311934969/photo/contact-us.jpg?b=1&s=170667a&w=0&k=20&c=2sJEN1Hhg6heUi1ZxKs6pJDwcyLYXPc4pUGd3hEjOjE=");
}
.contact label {
  display: flex;
  padding: 2%;
  margin-left: -2%;
}
.contact input {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: -1%;
  border-radius: 0.8rem;
  border: none;
}
#message-contact {
  width: 103%;
  height: 235px;
  border-radius: 0.8rem;
  border: none;
}
#btn {
  padding: 1rem;
  width: 103.5%;
  margin-top: 3%;
  font-size: 120%;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
}

.maps {
  position: relative;
  top: 35px;
  right: -122px;
  border-radius: 14px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 40%;
}

/* responsive */
@media (max-width: 1670px) {
  .maps {
    margin-left: 53.3%;
    margin-top: -47.6%;
  }
  .contact {
    width: 40%;
  }
}

@media (max-width: 1400px) {
  .maps {
    margin-left: 43.3%;
    margin-top: -57%;
  }
  .contact {
    width: 30%;
  }
  .contactus {
    background-color: #234b6a;
  }
}
@media (max-width: 1300px) {
  .container-contact {
    margin-top: 5%;
  }
  .contactus {
    background-color: #234b6a;
  }
  .contact {
    width: 70%;
  }
  #message-contact {
    height: 100px;
  }
  .contact label {
    display: flex;
    padding: -10%;
  }
  #btn {
    display: flex;
    padding: 5%;
    margin-top: 10%;
    align-self: center;
    font-size: 100%;
  }
  .maps {
    margin-top: 2%;
    margin-left: 0%;
  }
}
@media (max-width: 822px) {
  .contactus {
    background-color: #234b6a;
  }
  .contact {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .contactus {
    background-color: #234b6a;
  }
  .contact {
    width: 60%;
  }
}
